In [36]:
%matplotlib inline
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from scipy import sparse
from sklearn import preprocessing

# Read data

In [37]:
dat = pd.read_csv('../data/retailrocket-recommender-system-dataset/train-scores.csv')
dat.head()

   visitorid  itemid  score
0         75  257575     25
1        172   10034     20
2        172  465522     23
3        186   49029     17
4        264  161949     17

# Encode itemid as ordinal

In [38]:
enc = preprocessing.OrdinalEncoder(dtype=np.uint32)
dat['iid'] = enc.fit_transform(dat[['itemid']])
dat.head()

   visitorid  itemid  score    iid
0         75  257575     25   7400
1        172   10034     20    266
2        172  465522     23  13389
3        186   49029     17   1369
4        264  161949     17   4567

In [39]:
iids = pd.DataFrame({'itemid': enc.categories_[0]})
iids['iid'] = iids.index
iids.head()

   itemid  iid
0      15    0
1      19    1
2      25    2
3      42    3
4     147    4

# Save encoder data and transformed training data

In [40]:
dat.to_csv('../data/retailrocket-recommender-system-dataset/train-scores-encoded.csv', index=False)
iids.to_csv('../data/retailrocket-recommender-system-dataset/iids-encoding.csv', index=False)