In [30]:
%matplotlib inline
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from scipy import sparse
from sklearn import preprocessing

## Parameters

In [31]:
# visitorid/itemid combinations must have a score of 
#   at least MIN_SCORE_INTERESTING to be included in the
#   training set
MIN_SCORE_INTERESTING = 10

# Read data

In [32]:
dat = pd.read_csv('../data/retailrocket-recommender-system-dataset/train-events-scored.csv')
dat.head()

       timestamp  visitorid event  itemid  transactionid  score
0  1433221332117     257597  view  355908            NaN      1
1  1433224214164     992329  view  248676            NaN      1
2  1433221999827     111016  view  318965            NaN      1
3  1433221955914     483717  view  253185            NaN      1
4  1433221337106     951259  view  367447            NaN      1

# Compute scores for each visitor / item

In [33]:
scores = dat.groupby('visitorid itemid'.split()).score.sum()
scores.head()

visitorid  itemid
0          67045     1
           285930    1
           357564    1
1          72028     1
2          216305    2
Name: score, dtype: int64

In [34]:
interesting_scores = scores[scores > MIN_SCORE_INTERESTING].reset_index()
interesting_scores.head()

   visitorid  itemid  score
0         75  257575     25
1        172   10034     20
2        172  465522     23
3        186   49029     17
4        264  161949     17

In [35]:
interesting_scores.to_csv('../data/retailrocket-recommender-system-dataset/train-scores.csv', index=False)