In [22]:
%matplotlib inline
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from scipy import sparse

In [23]:
dat = pd.read_csv('../data/retailrocket-recommender-system-dataset/test-events.csv')
dat.head()

       timestamp  visitorid event  itemid  transactionid
0  1433223239808    1377281  view  251467            NaN
1  1433224244282    1370216  view  176721            NaN
2  1433224070841    1398644  view  135256            NaN
3  1433221622167    1342963  view  306886            NaN
4  1433223146605    1282360  view  106564            NaN

In [24]:
dat.event.value_counts()

view           267074
addtocart        6545
transaction      1994
Name: event, dtype: int64

# Add a score column

In [25]:
scoremap = {
    'view': 1,
    'addtocart': 5,
    'transaction': 10,
}

def score_events(fn_in, fn_out):
    dat = pd.read_csv(fn_in)
    dat['score'] = dat.event.apply(scoremap.get).astype(np.uint16).rename('score')
    dat.to_csv(fn_out, index=False)
    return dat

In [26]:
score_events(
    '../data/retailrocket-recommender-system-dataset/train-events.csv',
    '../data/retailrocket-recommender-system-dataset/train-events-scored.csv',    
).head()

       timestamp  visitorid event  itemid  transactionid  score
0  1433221332117     257597  view  355908            NaN      1
1  1433224214164     992329  view  248676            NaN      1
2  1433221999827     111016  view  318965            NaN      1
3  1433221955914     483717  view  253185            NaN      1
4  1433221337106     951259  view  367447            NaN      1

In [27]:
score_events(
    '../data/retailrocket-recommender-system-dataset/test-events.csv',
    '../data/retailrocket-recommender-system-dataset/test-events-scored.csv',    
).head()

       timestamp  visitorid event  itemid  transactionid  score
0  1433223239808    1377281  view  251467            NaN      1
1  1433224244282    1370216  view  176721            NaN      1
2  1433224070841    1398644  view  135256            NaN      1
3  1433221622167    1342963  view  306886            NaN      1
4  1433223146605    1282360  view  106564            NaN      1