In [40]:
%matplotlib inline
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from scipy import sparse

In [41]:
dat = pd.read_csv('../data/retailrocket-recommender-system-dataset/events.csv')
dat.head()

       timestamp  visitorid event  itemid  transactionid
0  1433221332117     257597  view  355908            NaN
1  1433224214164     992329  view  248676            NaN
2  1433221999827     111016  view  318965            NaN
3  1433221955914     483717  view  253185            NaN
4  1433221337106     951259  view  367447            NaN

# Split test/train based on the visitorid

In [42]:
SPLIT_PERCENTILE = 90

In [43]:
visitorid_split = np.percentile(dat.visitorid, SPLIT_PERCENTILE)

In [35]:
train = dat[dat.visitorid < visitorid_split]
test = dat[dat.visitorid >= visitorid_split]
train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2480488 entries, 0 to 2756100
Data columns (total 5 columns):
timestamp        int64
visitorid        int64
event            object
itemid           int64
transactionid    float64
dtypes: float64(1), int64(3), object(1)
memory usage: 113.5+ MB

In [36]:
test.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 275613 entries, 16 to 2756083
Data columns (total 5 columns):
timestamp        275613 non-null int64
visitorid        275613 non-null int64
event            275613 non-null object
itemid           275613 non-null int64
transactionid    1994 non-null float64
dtypes: float64(1), int64(3), object(1)
memory usage: 12.6+ MB

In [38]:
train.shape, test.shape

((2480488, 5), (275613, 5))

In [39]:
train.to_csv('../data/retailrocket-recommender-system-dataset/train-events.csv', index=False)
test.to_csv('../data/retailrocket-recommender-system-dataset/test-events.csv', index=False)